:root{
    --white: #FFFFFF;
    --black: #000000;
    --grey: #B2BEB5;
    --orange: #39913b;
}
html { height: 100% }
body{
    margin: 0;
    width: 100vw;
    min-height: fit-content;
    overflow-x: hidden;
}
@font-face{
    font-family: falcon;
    src: url(../fonts/Facon.ttf);
}
.navbar{
    background-color: transparent;
    z-index: 1;
}
.navbar.sticky{
    top: 0;
    z-index: 99;
}
#flexNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#navbarId{
    transition: top 0.5s;
}
#logoImg{
    max-width: 50%;
    height: 20vw;
    padding-left: 2vh;
    padding-top: 1vh;
}
.nav-item{
    padding-left: 1vh;
    padding-right: 1vh;
}
.navbar-toggler{
    border: 2px solid white;
    font-size: 1.5em;
    margin-right: 4vh;
    height: fit-content;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
.nav-item{
    font-size: 2em;
}
#offcanvasNavbarLabel{
    font-size: 250%;
}
ul.dropdown-menu { 
    background-color: #808080; 
    border: 0;
    font-size: 0.75em;
}
ul.dropdown-menu a{
    color: white;
}
ul.dropdown-menu a:hover{
    color: black;
}
#bodyPage{
    z-index: 0;
    background-color: #212529;
    color: white;
}

#bodyHead{
    padding-top: 1vh;
    font-size: 3.5rem;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: 800;
}
#teamImg{
    max-height: auto;
    width: 100%;
    filter: brightness(60%);
}
#landingImg{
    padding: 0;
    position:relative;
    height: 100%;
    min-height: 25vh;
}
#paragraphContainer{
    margin-bottom: 1vh;
}
.CLCFparagraph{
    padding-top: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    font-size: 2rem;
    line-height: 4vh;
}
#logoImgFooter{
    width: 15vh;
    height: 10vh;
}
#socialFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
#galleryContainer{
    height: calc(100%+100px);
}
.galleryGrid{
    margin: auto;
    width: 95%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    grid-template-rows: min-content;   
    justify-content: center; 
    row-gap: 2vh;
    z-index: 2;
    padding-top: 1vh;
    padding-bottom: 2.5vh;
    overflow: hidden;
}
.card{
    position: relative;
    height: fit-content;
    width: 66%;
    margin: auto;
    aspect-ratio: 16/9;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, rgba(0,0,0,0.28) 100%, rgba(0,0,0,.72) 0%);
    border-radius: .7rem;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(6px);
    overflow: hidden;
    transition: ease-in-out .3s;
    
    &:hover {
      transform: translateY(-2%);
      border: 1px solid rgba(#F2F4F8, 0);
      box-shadow: 0 7px 20px 5px #00000088;
      cursor: pointer;
    }
    
    &:active {
      transform: translateY(2%);
      box-shadow: 0 7px 20px 5px #00000088;
      transition: ease-in-out .1s;
    }
    
}
.cardContents{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: 57.5%;   
    border-radius: 0.5rem;
    overflow: hidden;
}
#prePrkImg{
    border-radius: 1rem;
    max-width: 100%;
    padding: 0.5vh;
    margin: auto;
}
.cardTextContainer{
    width: 100%;
    height: 40%;
    z-index: 10;
    display: grid;
    grid-template-columns: [leftEdge]3% [leftItems]45% [center] 49% [rightItems] 3% [rightEdge];
    grid-template-rows: [top1]5%[startItem] 25% [logoContainer]50% [description] auto [last] 5% [bttm];
    transition: top ease 0.5s;
}
.cardTitleFlex{
    grid-column-start: leftItems;
    grid-column-end: rightItems;
    grid-row-start: startItem;
    grid-row-end: logoContainer;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    align-items: center;
}
#cardTitle{
    font-size: 175%;
    font-weight: 100;
    text-align: left;
    align-self: center;
    color: var(--white);
    font-weight: 400;
}
.cardDescContainer{
    grid-column-start: leftItems;
    grid-column-end: rightItems;
    grid-row-start: logoContainer;
    grid-row-end: last;
    width: 100%;
}
.cardDescContainer h2{
    min-width: 0;
    min-height: 0;
    font-weight: 300;
    font-size: 175%;
    color: var(--grey);
    margin-top: auto;
    word-wrap: break-word;
    max-width: 100%;
    white-space: normal;
    overflow: visible;
}

#facebookIcon{
    width: 5vh;
    fill: var(--green);
}
#registrationLink{
    color: var(--green);
    font-size: 150%;
    line-height: 175%;
    padding-top: 1.5vh;
}
i{
    font-size: 5vh;
    color: var(--orange);
}
#contactContainer{
    padding-top: 12.5vh;
}
.mapContainer{
    height: 50vh;
    width: 100%;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 3vh;
}
#mapWrapper{
    width: 100%;
    height: 100%;
    border-radius: 1vh;
    transform: translateZ(0px);
    border: 3px solid #ffffff22;
    overflow: hidden;
}
#addressContact{
    text-align: center;
    color: white;
    padding-top: 5vh;
}
#contactFooter{
    bottom: 0;
}
#copyRight{
    color: var(--grey);
    text-align: center;
}
#contactInfoText{
    padding-left: 2vh;
    padding-right: 2vh;
    color: white;
}
#contactUsContainer{
    display: flex;
    flex-direction: row;
    padding-left: 2vh;
    padding-bottom: 1vh;
    gap: 0.25vh;
}
.contactText{
    font-size: 300%;
}
#contactPeriod{
    color: var(--orange);
}
#emailContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}
#emailParagraph{
    padding-left: 2vh;
}
#addressContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    padding-bottom: 2vh;
}
.pText{
    font-size: 200%;
    padding: 1vh;
}
#debud{
    border: solid black 1px;
}
#footer{
    padding: 0.5vh;
}
#contactUsFormContainer{
    padding-left: 5%;
    padding-bottom: 1vh;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    border-radius: 1vh;
    width:fit-content;
    padding-right: 5%;
}
#emailInput{
    padding-top: 1vh;
    padding-right: 25%;
    width: 80vw;
}
#questionsTextContainer{
    display: flex;
    flex-direction: row;
    gap:0.25vh;
}
.questionsText{
    padding-top: 1vh;
    font-size: 300%;
}
#questionInput{
    height: 15vh;
}
#emailInfoText{
    padding-top: 2vh;
    padding-left: 2vh;
}
#submitQ{
    background-color: #212529;
    border-color: var(--orange);
    color: var(--orange);
    font-size: 150%;
}
form{
    padding: 0;
    margin: 0;
}